<?xml version="1.0" encoding="UTF-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  
     <configSections>
   <section name="dataConfiguration" 
      type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, 
            Microsoft.Practices.EnterpriseLibrary.Data"/>
  </configSections>
    
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
      <httpRuntime targetFramework="4.0" />
    </system.web>
  

 
  <dataConfiguration defaultDatabase="UTDallasDB" />
  
    <connectionStrings>
      <add name="UTDallasDB" connectionString="Server=localhost;Database=UTDallasCSOutreach;Trusted_Connection=True;" providerName="System.Data.SqlClient" />
    </connectionStrings>
  
    <system.webServer>
        <directoryBrowse enabled="true" />
    </system.webServer>

</configuration>
